<div id="the_challenge">
  <h1>BENCH TO PRACTICE INNOVATION CHALLENGE</h1>

  <section>
    <%= fa_icon "lightbulb-o" %>
    <h2>Challenge Overview</h2>
    <p>
      The B2PI is a unique opportunity to discover the INNOVATOR in you. If you have identified or come across a problem related to Medicine and healthcare that you want to find a solution to, this challenge is for you!  We the Batch of 90 from JIPMER are hosting a challenge online for a team led by JIPMER students, mentored by faculty to solve a problem with a solution that can  demonstrate  the potential to make a difference.
    </p>
  </section>

  <section>
    <%= fa_icon "th-list" %>
    <h2>Process</h2>
    <p>
      This is an online challenge, held annually, eligible applicants can apply through their team leader with a completed project application as outlined on the <%= link_to "application process  page", application_process_path %>.  All applications must be submitted by  the deadline date announced each year.
    </p>
    <p>
      Mentors can be selected from the list of interested mentors on the website or you can request interested members of faculty who are willing to support you. 
    </p>
    <p>
      The judging panel will include Team members of  ‘Batch 90 innovations’, faculty from JIPMER including invited members from JSS and JAA,  external  invited Judges from other fields including  Allied health sciences, Engineering and Business schools.
    </p>
  </section>

  <section>
    <%= fa_icon "trophy" %>
    <h2>Benefits</h2>
    <p>
      <ol>
        <li>
          The winning team will collect a prize of Rs 45000. The runner up team will be awarded Rs 5000. Prizes will be awarded by the JSS President. The funds can be used for further development of your project or to apply for national or international competitions.
        </li>
        <li>
          Fringe benefits.
          <ul>
            <li>
              Attendance at a Innovation workshop, to gain input into the process of innovation,  and exposure to other multidisciplinary innovation centres.         
            </li>
            <li>
              Publications in high impact journals.
            </li>
            <li>
              A great opportunity to learn team work and get a mentor, network with real life innovators who can guide or point you towards other available resources and funds for innovation.
            </li>
            <li>
              An opportunity to work across multiple disciplines through online networking through this website.
            </li>
            <li>
              To have a Resume with  early “credentialing” as an Innovator.
            </li>
          </ul>
        </li>
      </ol>
    </p>
  </section>

  <section>
    <%= fa_icon "flag-checkered" %>
    <h2>Criteria</h2>
    <p>
      Your project will be judged as having potential for innovation based on the
      <ul>
        <li>Concept</li>
        <li>Value</li>
        <li>Delivery</li>
        <li>Impact</li>
        <li>Team work</li>
        <li>Identification of barriers and strategies to address them</li>
        <li>Overall project planning</li>
      </ul>
    </p>
  </section>

  <section>
    <%= fa_icon "ticket" %>
    <h2>Eligibility</h2>
    <p>
      Team applications are strongly encouraged as key to innovation is teamwork and cross pollination of ideas, (you need the thinkers and the doers in your team).
    </p>
    <p>
      Team  leader  must be an undergraduate student of JIPMER MBBS all years, including interns, BSc Nursing, BSc Allied medical sciences. For further details please see the <%= link_to "FAQs page", faq_path %>.
    </p>
  </section>
  <%= link_to "Apply Now", login_path, id: 'apply-now', class: 'btn btn-success btn-lg' %>
</div>