<!DOCTYPE html>
<html>
<head>
  <title>Batch 90 Innovations</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<section id="content_wrapper">
  <div class="container">
    <div class="flash_messages">
      <%= flash_tag(notice, "notice") %>
      <%= flash_tag(alert, "alert") %>
    </div>
    <%= yield %>
  </div>
</section>
<%= render 'layouts/footer' %>
</body>
</html>
